/* styles.css */
.custom-table {
  border: none;
}

/* Remove border from table headers */
.custom-table th {
  border: none;
}

/* Remove border from table rows */
.custom-table td {
  border: none;
}

/* Optional: Hover effect on table rows */
.custom-table .react-bootstrap-table-row:hover {
  background-color: #f5f5f5;
}
